@inject HttpClient Http

<table class="table">
    <thead>
    <tr>
        <th>Kundnamn</th>
        <th>Kontakt Person</th>
        <th>Adress</th>
        <th>Stad</th>
        <th>Postkod</th>
        <th>Land</th>
        <th>E-post</th>
        <th>Mobilnummer</th>
    </tr>
    </thead>
    @foreach(var customer in CustomersWithRebate)
    {
    <tbody>
    <tr>
        <td><a href="customer/@customer.CustomerId">@customer.CompanyName</a></td>
        <td>@customer.ContactName</td>
        <td>@customer.Address</td>
        <td>@customer.City</td>
        <td>@customer.PostalCode</td>
        <td>@customer.Country</td>
        <td>@customer.Email</td>
        <td>@customer.Phone</td>
    </tr>
    </tbody>
    }

</table>
@code {
    [Parameter]
    public List<Customer> CustomersWithRebate { get; set; } = new List<Customer>();
    

    protected override async Task OnInitializedAsync()
    {
        CustomersWithRebate = await Http.GetFromJsonAsync<List<VismaCodingTest.Shared.Customer>>("api/customer");  
    }
}
