@page "/customer/{CustomerId:guid}"
@inject HttpClient Http

<h3 class="text-center mb-4">Produkter med justerade priser för @SelectedCustomer.CompanyName</h3> 

<div class="row row-cols-1 row-cols-md-2 g-4 mt-5">
@foreach(var product in ProductList)
{
    <div class="col">
    <div class="card h-50 w-75">
      <img src="@product.ImageUrl" class="card-img-top" alt="@product.Category.Name">
      <div class="card-body">
        <p class="card-title text-center">Standard pris: @product.StandardPrice SEK</p>
        <h5 class="card-text text-center">Justerat pris: @product.AdjustedPrice SEK</h5>
      </div>
    </div>
  </div>
}
</div>


@code {
    [Parameter]
    public Guid CustomerId { get; set; }

    public List<Product> ProductList { get; set; } = new List<Product>();
    public decimal savingAmount = 0.00m;

    public VismaCodingTest.Shared.Customer SelectedCustomer { get; set; } = new VismaCodingTest.Shared.Customer();

    protected override async Task OnInitializedAsync()
    {
        SelectedCustomer = await Http.GetFromJsonAsync<VismaCodingTest.Shared.Customer>($"api/customer/{CustomerId}");

        ProductList = await Http.GetFromJsonAsync <List<Product>>($"api/product");
    }

}
