@page "/"
@inject HttpClient Http

<div class="mb-4 text-center">
<h2>Kunder med rabatt</h2>
    
    <CustomerList  />
    

    </div>
<h2 class="mb-4 text-center">Produkter med standard priser</h2>

@if(ProductList.Count == 0)
{
    <p>@message</p>
}
else
{
    <div class="row row-cols-1 row-cols-md-2 g-4">
    @foreach(var product in ProductList)
    {

  <div class="col">
    <div class="card h-50 w-75">
      <img src="@product.ImageUrl" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title text-center">@product.ProductName</h5>
        <p class="card-text">@product.Description</p>
        <h5 class="card-text text-center">Standard Pris: @product.StandardPrice SEK</h5>
      </div>
    </div>
  </div>
  
    }
    </div>
}


@code {
    public VismaCodingTest.Shared.Customer Customer { get; set; } = new VismaCodingTest.Shared.Customer();
    public List<Product> ProductList { get; set; } = new List<Product>();
    private string message = string.Empty;

    protected override async Task OnInitializedAsync()
    {
        ProductList = await Http.GetFromJsonAsync<List<Product>>("api/product");
        if(ProductList.Count == 0)
        {
            message = "Det finns inga produkter";
        }
    }
}
